<tr>
  <td>{{id}}</td>
  <td>{{name}}</td>
  <td>{{departure_date}}</td>
  <td>{{price}}$ / personne</td>
  <td>
    {% if member is not null %}
    <button onclick="commander({{id}}, '{{name|e('html_attr')}}')" type="button" class="btn btn-primary checkout-button" data-dismiss="modal">Commander</button>
    {% endif %}
    <button class="delete-item btn btn-danger" data-name="{{name|e('html_attr')}}">X</button>
  </td>
</tr>
