  <div class="home-content__banner circuit-banner">
    <div class="banner__text">
      {{ circuit.name|e }}
    </div>
  </div>

  <div class="circuit-info__content">
    <h2 class="content-header">Description{{ circuit.id }}</h2>
    <div class="description-container">
      <div class="card text-center description-body">
        <div class="card-body">
          <h5 class="card-title">{{ circuit.name|e }}</h5>
          <p class="card-text">
            {{ circuit.description|e }}
          </p>

          <a href="#" data-id="{{ circuit_trips.0.id }}"
             data-date="{{ "now"|date("d/m/Y") }}"
             data-name="{{ circuit.name|e }}"
             data-price="{{ circuit_trips.0.price }}"
             class="add-to-cart btn btn-success">Réserver</a>
        </div>
        <div class="card-footer text-muted">
          {% if circuit.next_departure is not null %}
          <p>
            Prochain départ {{ circuit.next_departure.departure_date|time_diff }}
          </p>
          <p>
            {{ circuit.next_departure.departure_date|date('Y-m-d')}}
          </p>
          {% else %}
          <p>
            Prochain départ en planification!
          </p>
          {% endif %}
        </div>
      </div>
    </div>

    <h2 class="content-header">Itinerary</h2>
    <div class="nodes">
      {% for step in circuit.steps %}
      <div class="node">
        <div class="node__title">
          {{ step.description|e }}
        </div>
        <div class="node__content">
          {% for activity in step.activities %}
          <div class="step__activity">
            <h3>
              <a href="{{ activity.link|e('html_attr') }}" class="activity__title">
                {{ activity.name|e }}
              </a>
            </h3>
            <div class="activity__type">
              {{ activity.type|e }}
            </div>
            <div class="activity__description">
              {{ activity.description|e }}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>

    <h2 class="content-header">Guides</h2>
    {% for guide in circuit.employees %}
    <div class="circuit-guides">
      <div class="circuit-guide">
        <img class="circuit-guide__image" src="{{ guide.media_path|e('html_attr') }}" alt="guide-{{ loop.index }}"/>
        <div class="circuit-guide__title">
          {{ guide.first_name|e }} {{ guide.last_name|e }}
        </div>
        <div class="circuit-guide__supporting-text">
          {{ guide.description|e }}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

<script>
setBackground('{{ circuit.media_path|e('js') }}')
$('.node').on('click', (e) => {
  if (e.target == e.currentTarget.children[0]) {
    e.currentTarget.children[1].classList.toggle('node__content--expand')
  }
})
</script>
