<div>
  <button type="button" class=" my-2 float-sm-right btn btn-primary" onclick="createMessage({{ newsletter.id }})">{% trans %}Newsletter.Add.Message{% endtrans %}</button>
</div>
<div>
  <table class="table">
    <caption>{% trans %}Newsletter.Label{% endtrans %} - {{ newsletter.name|e }}</caption>
    <thead>
      <tr>
        <th scope="col" class="table-remove-border-bottom">{% trans %}Newsletter.Subject{% endtrans %}</th>
        <th scope="col" class="table-remove-border-bottom">{% trans %}Newsletter.Date{% endtrans %}</th>
      </tr>
      <tr>
        <th colspan="2" class="table-remove-border-top">
          {% trans %}Newsletter.Message.Content{% endtrans %}
        </th>
      </tr>
    </thead>
    <tbody>
    {% for message in messages %}
      <tr>
        <td>
          {{ message.subject|e }}
        </td>
        <td>
          {{ message.newsletter_message_date | date('Y-m-d') }}
        </td>
      </tr>
      <tr>
        <td colspan="2" class="table-remove-border-top">
          {{ message.content|e }}
        </td>
      </tr>
    {% else %}
      <tr>
        <td colspan="2">
          {% trans %}Newsletter.Message.None{% endtrans %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
<div id="modalMessage"></div>
<div>
  <button type="button" class=" my-2 float-sm-right btn btn-primary" onclick="indexNewsletters()">{% trans %}Newsletter.Return{% endtrans %}</button>
</div>
<div id="modalNewsletter"></div>
