<h2>{% trans %}Activity.Management{% endtrans %}</h2>

{% include 'Admin/activity_add.html.twig' %}

<div class="activity-grid__controls">
  <a id="activity-new-btn" href="#" data-toggle="modal" data-target="#activity-add-modal">
    <span>{% trans %}Activity.Add{% endtrans %}</span>
    <i class="fas fa-plus-circle icone_ajout" aria-hidden="true"></i>
  </a>
</div>

<div class="activity-grid">
  <div class="activity-grid__header">
    <div class="activity-grid__header__elem">{% trans %}Name{% endtrans %}</div>
    <div class="activity-grid__header__elem">{% trans %}Type{% endtrans %}</div>
    <div class="activity-grid__header__elem">{% trans %}Link{% endtrans %}</div>
    <div class="activity-grid__header__elem">{% trans %}Country{% endtrans %}</div>
    <div class="activity-grid__header__elem">{% trans %}City{% endtrans %}</div>
  </div>
    <div class="activity-grid__body">
      {% for activity in activities %}
      <div class="activity-grid__body__row">
        <div class="activity-grid__body__row__elem">{{ activity.name }}</div>
        <div class="activity-grid__body__row__elem">{{ activity.activity_type }}</div>
        <div class="activity-grid__body__row__elem">
          <a href="{{ activity.link }}">lien</a>
        </div>
        <div class="activity-grid__body__row__elem">{{ activity.country }}</div>
        <div class="activity-grid__body__row__elem">{{ activity.city }}</div>
      </div>
      {% else %}
        <div class="activity-grid__body__row">
          <div class="activity-grid__body__row__elem">N/A</div>
          <div class="activity-grid__body__row__elem">N/A</div>
          <div class="activity-grid__body__row__elem">
            N/A
          </div>
          <div class="activity-grid__body__row__elem">N/A</div>
          <div class="activity-grid__body__row__elem">N/A</div>
        </div>
      {% endfor %}
    </div>
</div>
<button type="button" class="btn btn-dark" onclick="getIndexAdmin()">Retour à l'accueil</button>

