<h1 class="pretty_title">{% trans %}Gestion des départs{% endtrans %}</h1>
<div class="choix_circuit">
  <p class="mr-auto">{% trans %}Veuillez choisir un départ à modifier pour le circuit{% endtrans %} - {{ circuit.name }}</p>
  <div class="bouton_creer" onClick="getCircuitsTrip_create({{ circuit.id }})">
    <p>{% trans %}Créer un nouveau départ{% endtrans %}</p>
    <i class="fas fa-plus-circle icone_ajout"></i>
  </div>
</div>

<div class="column my-2 gestion_liste">
  <div class="col-10">
    <div class="list-group list-group-flush" id="list-tab" role="tablist">
      <a class="list-group-item disabled">
        <ul class="circuit_ul">
          <li>{% trans %}Date de départ{% endtrans %}</li>
          <li>{% trans %}Places{% endtrans %}</li>
          <li>{% trans %}Est public ?{% endtrans %}</li>
          <li>{% trans %}Actions{% endtrans %}</li>
        </ul>
      </a>
      {% for circuit_trip in circuits_trips %}
        <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">
          <ul class="circuit_ul">
            <li>{{ circuit_trip.departure_date|date("Y-m-d") }}</li>
            <li>{{ circuit_trip.places }}</li>
            <li>
              {% if circuit_trip.is_public == 1 %}
                {% trans %}Vrai{% endtrans %}
              {% else %}
                {% trans %}Faux{% endtrans %}
              {% endif %}
            </li>
            <li>
              <button type="button" class="btn-primary" onclick="getPaymentPlans({{ circuit_trip.id }})" data-container="body" data-toggle="popover" data-placement="top" data-content="Voir les paiements" data-trigger="hover"><i class="fas fa-dollar-sign"></i></button>
              <button type="button" class="btn-primary" onclick="getCircuitTrip_update({{ circuit.id|e }},{{ circuit_trip.id }})" data-container="body" data-toggle="popover" data-placement="top" data-content="Modifier" data-trigger="hover"><i class="fas fa-edit"></i></button>
              <button type="button" class="btn-primary supprimer" onclick="supprimerCircuitTrip({{ circuit_trip.id }})"><i class="fas fa-trash" data-container="body" data-toggle="popover" data-placement="top" data-content="Supprimer" data-trigger="hover"></i></button>
            </li>
          </ul>
        </a>
      {% else %}
        <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">
          <ul class="circuit_ul">
            <li>N/A</li>
            <li>N/A</li>
            <li>N/A</li>
            <li>N/A</li>
            <li>
              <button type="button" class="btn-primary" disabled><i class="fas fa-edit"></i></button>
              <button type="button" class="btn-primary" disabled><i class="fas fa-trash"></i></button>
            </li>
          </ul>
        </a>
      {% endfor %}
    </div>
  </div>
</div>
<div id="modalContenuCircuit"></div>
<button type="button" class="btn btn-dark" onclick="retourAccueil()">{% trans %}Retour à la gestion des circuits{% endtrans %}</button>
