<h1>{{ circuit.name }}</h1>
<div id="gestionEtapes">
  {% for step in steps %}
    <h2>Étape {{ step.position }}</h2>
    <table class="table" id="activitiesCircuit-{{ activity.id }}">
      <thead>
        <tr>
          <th scope="col">{% trans %}Name{% endtrans %}</th>
          <th scope="col">{% trans %}Step.Start.Time{% endtrans %}</th>
          <th scope="col">{% trans %}Duration{% endtrans %}</th>
          <th scope="col">{% trans %}Type{% endtrans %}</th>
        </tr>
      </thead>
    {% for activity in steps_activities %}
      <tr class="activity-row" id="activity-{{ activity.id }}">
        <td scope="row">{{ activity.name }}</td>
        <td>{{ activity.time_after_last_step }}</td>
        <td>{{ activity.duration }}</td>
        <td>{{ activity.activity_type }}</td>
      </tr>
    {% endfor %}
    {% for accommodation in Accommodations %}
      <tr class="accommodation-row" id="accommodation-{{ accommodation.id }}">
        <td scope="row">{{ Accommodation.name }}</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>{{ accommodation.accommodation_type }}</td>
      </tr>
    {% endfor %}
    </table>
    <button type="button" class="btn btn-primary" id="ajouterActivite{{ step.id }}" onclick="ajouterActivite({{ step.id }})">{% trans %}Activity.Add{% endtrans %}</button>
  {% endfor %}
  <button type="button" class="btn btn-primary" id="ajouterEtape" onclick="ajouterEtape({{ circuit.id }})">{% trans %}Step.Add{% endtrans %}</button>
</div>
