<form class="form_create_circuit">
  <div class="form-group">
    <label for="nom_circuit"><h5>{{ 'Circuit.Name'|trans }} :</h5></label>
    <input type="email" class="form-control" id="nom_circuit" name="nom_circuit"
           placeholder="Ex. : Circuit Méditerrannéen">
  </div>

  <div class="select_container">
    {# // multiple selectpicker for circuit categories #}
    <div>
      <label for="category">{{ 'Circuit.Category'|trans }} : </label>
      <select class="selectpicker" title="Aucune catégorie" name="category"
              multiple>
        {% for category in categories %}
          <option>{{ category.name }}</option>
        {% endfor %}
      </select>
    </div>


    {# // multiple selectpicker for circuit languages #}
    <div>
      <label for="language">{{ 'Circuit.Language'|trans }} : </label>
      <select class="selectpicker" title="Aucune langue" name="language"
              multiple>
        {% for language in languages %}
          <option>{{ language.name }}</option>
        {% endfor %}
      </select>
    </div>
  </div>


  {# // File input for circuit image #}


  <div class="custom-file">
    <input type="file" class="custom-file-input" id="customFile"
           name="customFile" lang="fr">
    <label class="custom-file-label" for="customFile">{{ 'Circuit.Image.Choose'|trans }}</label>
  </div>


  {# text area for small back-end circuit desc #}

  <div class="form-group">
    <label for="desc">{{ 'Circuit.Description'|trans }} : </label>
    <textarea class="form-control" name="desc"
              rows="3" style="resize: none"></textarea>
  </div>

  {#    LISTE D'ÉTAPES #}

  <div id="etapes_container">


    <ul id="steplist" class="nav nav-pills mb-3" id="pills-tab" role="tablist">

      <li class="nav-item">
        <a class="nav-link active" id="pills-step-1-tab" data-toggle="pill"
           href="#pills-step-1" role="tab" aria-controls="pills-step-1"
           aria-selected="true">{{ 'Step.Label'|trans }} 1</a>
      </li>

      <li id="addstep_button" class="nav-item">
        <i class="fas fa-plus-circle icone_ajout" onclick="addStep()"></i>
      </li>

    </ul>


    <div class="tab-content" id="pills-tabContent">
      {# GRILLE HORAIRE  1 #}
      <div class="tab-pane fade show active" id="pills-step-1" role="tabpanel"
           aria-labelledby="pills-step-1-tab">



        <div class="etape">
          <div class="grille">
            <div class="time_column">
              <div class="heures">
                {% for i in 0..23 %}
                  {% if i < 10 %}
                    0{{ i }}:00<br>
                  {% else %}
                    {{ i }}:00<br>
                  {% endif %}
                {% endfor %}
              </div>
              <div class="lignes">
                {% for i in 0..23 %}
                  <hr>
                {% endfor %}
              </div>
            </div>
            <div id="daysForStep1" class="grille_horaire step-duration-0">
              <div id="addDay_button" onclick="addDay(1)" class="header"><i class="fas fa-plus"></i></div>
            </div>
          </div>
          <div class="hebergement_container">
            <h6 class="hebergement_titre">{{ 'Activity.Add'|trans }}</h6>
            <div class="grille_hebergement step-duration-0" id="grille_ajout1">

            </div>
          </div>
          <div class="hebergement_container">
            <h6 class="hebergement_titre">{{ 'Accommodation.Label'|trans }} :</h6>
            <div class="grille_hebergement step-duration-0" id="grille_hebergement1">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {#          FIN LISTE D'ÉTAPES #}

  <div class="button_panel">
    <button type="button" class="btn btn-dark mr-auto"
            onClick="getCircuits()">
      {{ 'Circuit.Return.List'|trans }}
    </button>
    <button type="button" id="circuit-add-form_submit" type="submit"
            class="btn btn-secondary">{{ 'Circuit.Save'|trans }}
    </button>
    <button type="button" class="btn btn-success"
            onclick="getCircuits_organize()">{{ 'Circuit.Organise'|trans }}
    </button>
  </div>

</form>

<!-- Modal -->
<div class="modal fade" id="activity_form" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered"
       role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">{{ 'Activity.Create'|trans }}</h5>
        <button type="button" class="close" data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="activity_name">{{ 'Activity.Name'|trans }}</label>
            <input type="email" class="form-control"
                   id="activity_name" placeholder="">
          </div>
          <div class="form-group">
            <label for="activity_type">{{ 'Activity.Type'|trans }}</label>
            <select class="form-control" id="activity_type">
              <option value="TRANSPORT">{{ 'Transport'|trans }}</option>
              <option value="ACTION">{{ 'Action'|trans }}</option>
              <option value="RELAXING">{{ 'Relaxation'|trans }}</option>
              <option value="DISCOVERY">{{ 'Discovery'|trans }}</option>
              <option value="ARTS">{{ 'Arts'|trans }}</option>
              <option value="RESTAURANTS">{{ 'Restaurants'|trans }}</option>
              <option value="OTHER">{{ 'Others'|trans }}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="activity_link">{{ 'Activity.Link'|trans }}</label>
            <input type="text" class="form-control"
                   id="activity_link" placeholder="">
          </div>
          <div class="form-group">
            <label for="activity_desc">{{ 'Activity.Description'|trans }}</label>
            <textarea class="form-control" id="activity_desc"
                      rows="3"></textarea>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text"
                     for="activity_start">{{ 'Start'|trans }}</label>
            </div>
            <select class="custom-select" id="activity_start">
              <option selected>{{ 'Choose'|trans }} ...</option>
              {% for i in 0 .. 96 %}
                <option>
                  {{ (i/4)|round(0, 'floor') }}h{{ (i%4)*15 }}{% if i%4 == 0 %}0
                  {% endif %}
                </option>
              {% endfor %}
            </select>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text"
                     for="activity_duration">{{ 'End'|trans }}</label>
            </div>
            <select class="custom-select" id="activity_duration">
              <option selected>{{ 'Choose'|trans }} ...</option>
              {% for i in 0 .. 96 %}
                <option>
                  {{ (i/4)|round(0, 'floor') }}h{{ (i%4)*15 }}{% if i%4 == 0 %}0
                  {% endif %}
                </option>
              {% endfor %}
            </select>
          </div>
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="customFile2"
                   lang="fr">
            <label class="custom-file-label" for="customFile2">{{ 'Activity.Image.Choose'|trans }}</label>
          </div>
          <input style="display: none" id="day_nb" type="text" value="1">
          <input style="display: none" id="step_nb" type="text" value="1">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          {{ 'Close'|trans }}
        </button>
        <button type="button" class="btn btn-primary" onclick="createActivity()">{{ 'Add'|trans }}</button>
      </div>
    </div>
  </div>
</div>



