<h1 class="pretty_title">{% trans %}Step.Management{% endtrans %}</h1>
<div class="choix_circuit">
  <p class="mr-auto">{% trans %}Activity.Management{% endtrans %} - {% trans %}Step.Label{% endtrans %} {{ step.position }}</p>
  <div class="bouton_creer" onClick="getActivity_add({{ step.id }})">
    <p>{% trans %}Step.Activity.Add{% endtrans %}</p>
    <i class="fas fa-plus-circle icone_ajout"></i>
  </div>
</div>

<div class="column my-2 gestion_liste">
  <div class="col-10">
    <div class="list-group list-group-flush" id="list-tab" role="tablist">
      <a class="list-group-item disabled">
        <ul class="circuit_ul">
          <li>{% trans %}Step.Day{% endtrans %}</li>
          <li>{% trans %}Step.Name{% endtrans %}</li>
          <li>{% trans %}Step.Type{% endtrans %}</li>
          <li>{% trans %}Step.Start.Label{% endtrans %}</li>
          <li>{% trans %}Step.End{% endtrans %}</li>
          <li>{% trans %}Step.Actions{% endtrans %}</li>
        </ul>
      </a>
      {% for activity in activities %}
        {% set day = (activity.time_after_last_step / 60 / 24)|round(0, 'floor') %}
        {% set start_time_hours = ((activity.time_after_last_step - day * 24 * 60) / 60)|round(0, 'floor') %}
        {% set start_time_minutes = (activity.time_after_last_step - (day * 24 * 60) - (start_time_hours * 60)) %}
        {% set end_time = activity.time_after_last_step - day * 24 * 60 + activity.duration %}
        {% set end_time_hours = (end_time / 60)|round(0, 'floor') %}
        {% set end_time_minutes = (end_time - end_time_hours * 60) %}
        {% if start_time_minutes == 0 %}
          {% set start_time_minutes = "00" %}
        {% endif %}
        {% if end_time_minutes == 0 %}
          {% set end_time_minutes = "00" %}
        {% endif %}
        <a class="list-group-item list-group-item-action active"
           id="list-home-list" data-toggle="list" href="#list-home" role="tab"
           aria-controls="home">
          <ul class="circuit_ul">
            <li>{{ day + 1 }}</li>
            <li>{{ activity.name }}</li>
            <li>{{ activity.activity_type }}</li>
            <li>{{ start_time_hours }}h{{ start_time_minutes }}</li>
            <li>{{ end_time_hours }}h{{ end_time_minutes }}</li>
            <li>
              <button type="button" class="btn-primary supprimer"
                      onclick="supprimerActivity({{ activity.id }}, {{ step.id }})" data-container="body" data-toggle="popover" data-placement="top" data-content="Supprimer" data-trigger="hover">
                <i class="fas fa-trash"></i></button>
            </li>
          </ul>
        </a>
      {% else %}
        <a class="list-group-item list-group-item-action active"
           id="list-home-list" data-toggle="list" href="#list-home" role="tab"
           aria-controls="home">
          <ul class="circuit_ul">
            <li>N/A</li>
            <li>N/A</li>
            <li>N/A</li>
            <li>N/A</li>
            <li>
              <button type="button" class="btn-primary" disabled><i
                  class="fas fa-trash"></i></button>
            </li>
          </ul>
        </a>
      {% endfor %}
    </div>
  </div>
</div>

<div class="choix_circuit">
  <p style="margin-top: 50px" class="mr-auto">{% trans %}Step.Accommodation.Management{% endtrans %} - {% trans %}Step.Label{% endtrans %} {{ step.position }}</p>
  <div style="margin-top: 50px" class="bouton_creer" onClick="getHebergement_add({{ step.id }})">
    <p >{% trans %}Step.Accommodation.Add{% endtrans %}</p>
    <i class="fas fa-plus-circle icone_ajout"></i>
  </div>
</div>


<button type="button" class="btn btn-dark"
        onclick="getCircuitEtapes({{ circuit.id }})">{% trans %}Step.Return{% endtrans %}
</button>

<div class="column my-2 gestion_liste">
  <div class="col-10">
    <div class="list-group list-group-flush" id="list-tab" role="tablist">
      <a class="list-group-item disabled">
        <ul class="circuit_ul">
          <li>{% trans %}Step.Day{% endtrans %}</li>
          <li>{% trans %}Step.Accommodation.Label{% endtrans %}</li>
          <li>{% trans %}Step.Actions{% endtrans %}</li>
        </ul>
      </a>
      {% set counter = 0 %}
      {% for period in periods %}
        <a class="list-group-item list-group-item-action active"
           id="list-home-list" data-toggle="list" href="#list-home"
           role="tab" aria-controls="home">
          <ul class="circuit_ul">
            {% set first_day = (period.time_after_step_start /60 /24)|round(0, 'floor')  + 1%}
            <li>
              {{ first_day }}
              {% if periods[counter+1] %}
                {% set next_day = (periods[counter+1].time_after_step_start /60 /24)|round(0, 'floor')  + 1 %}
                {% if next_day > first_day + 1 %}
                  - {{ next_day - 1 }}
                {% endif %}
              {% else %}
                {% set next_day =  (activities[activities|length - 1].time_after_last_step /60 /24)|round(0, 'floor') + 1 %}
                {% if next_day > first_day %}
                  - {{ next_day }}
                {% endif %}
              {% endif %}
            </li>
            <ul>
              {% for accommodation in accommodations[counter] %}
                <li>{{ accommodation.name }}</li>
              {% endfor %}
            </ul>
            <li>
              <button type="button" class="btn-primary supprimer"
                      onclick="supprimerHebergements({{ period.id }}, {{ step.id }})" data-container="body" data-toggle="popover" data-placement="top" data-content="Supprimer" data-trigger="hover">
                <i class="fas fa-trash"></i></button>
            </li>
          </ul>
        </a>
        {% set counter = counter + 1 %}
      {% else %}
        <a class="list-group-item list-group-item-action active"
           id="list-home-list" data-toggle="list" href="#list-home"
           role="tab" aria-controls="home">
          <ul class="circuit_ul">
            <li>N/A</li>
            <li>N/A</li>
            <li>
              <button type="button" class="btn-primary" disabled><i
                  class="fas fa-trash"></i></button>
            </li>
          </ul>
        </a>
      {% endfor %}


    </div>
  </div>
</div>


<!-- Modal pour les activités -->
<div class="modal fade" id="activity_form_add" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered"
       role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">{% trans %}Step.Activity.Add{% endtrans %}</h5>
        <button type="button" class="close" data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="activity_id">{% trans %}Step.Activity.Label{% endtrans %} : </label>
            <select class="form-control" id="activity_id">
              {% for activity in activities_all %}
                <option
                  value="{{ activity.id }}">{{ activity.name }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="input-group">
            <label class="input-group-text" for="activity_day">
              {% trans %}Step.Day{% endtrans %}
            </label>
            <input type="number" name="activity_day" id="activity_day">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text"
                     for="activity_start">{% trans %}Start{% endtrans %}</label>
            </div>
            <select class="custom-select" id="activity_start">
              <option selected>{% trans %}Choose{% endtrans %} ...</option>
              {% for i in 0 .. 96 %}
                <option value="{{ (i/4)|round(0, 'floor') }}{{ (i%4)*15 }}{% if i%4 == 0 %}0{% endif %}">
                  {{ (i/4)|round(0, 'floor') }}h{{ (i%4)*15 }}{% if i%4 == 0 %}0{% endif %}
                </option>
              {% endfor %}
            </select>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text"
                     for="activity_duration">Fin</label>
            </div>
            <select class="custom-select" id="activity_duration">
              <option selected>{% trans %}Choose{% endtrans %} ...</option>
              {% for i in 0 .. 96 %}
                <option value="{{ (i/4)|round(0, 'floor') }}{{ (i%4)*15 }}{% if i%4 == 0 %}0{% endif %}">
                  {{ (i/4)|round(0, 'floor') }}h{{ (i%4)*15 }}{% if i%4 == 0 %}0{% endif %}
                </option>
              {% endfor %}
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
                data-dismiss="modal">
          {% trans %}Close{% endtrans %}
        </button>
        <button type="button" class="btn btn-primary"
                onclick="addActivity({{ step.id }})">{% trans %}Add{% endtrans %}
        </button>
      </div>
    </div>
  </div>
</div>


<!-- Modal périodes -->
<div class="modal fade" id="hebergement_form_add" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered"
       role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">{% trans %}Step.Accommodation.Add{% endtrans %}</h5>
        <button type="button" class="close" data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <label for="acc_filter">{% trans %}Step.Filters{% endtrans %}</label><br>
          <input type="text" id="acc_filter" value="" data-role="tagsinput"/><br>

          <div class="form-group">
            <label for="activity_id">{% trans %}Step.Accommodation.Choice{% endtrans %} : </label>
            <select class="selectpicker" title="Aucun hébergement" name="accommodation_id"
                    id="accommodation_id" multiple>
              {% for accommodation in accommodations_all %}
                <option
                  value="{{ accommodation.id }}">{{ accommodation.name }}</option>
              {% endfor %}
            </select>
          </div>
          <label for="period_start">{% trans %}Step.Disponibility{% endtrans %} : </label><br>
          <input type="number" id="period_start" name="period-start">
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
                data-dismiss="modal">
          {% trans %}Close{% endtrans %}
        </button>
        <button type="button" class="btn btn-primary"
                onclick="addHebergements({{ step.id }})">{% trans %}Add{% endtrans %}
        </button>
      </div>
    </div>
  </div>
</div>
