<h1>Gestion des circuits</h1>
<div class="choix_circuit">
<p class="mr-auto">Veuillez choisir un circuit à modifier</p>
<div class="bouton_creer" onClick="getCircuits_create()">
  <p>Créer un nouveau circuit</p>
  <i class="fas fa-plus-circle icone_ajout"></i>
  </div>
</div>

<div class="column my-2">
  <div class="col-10">
    <div class="list-group list-group-flush" id="list-tab" role="tablist">
      <a class="list-group-item disabled">
        <ul class="circuit_ul">
        <li>Nom du circuit</li>
        <li>Description</li>
        <li>Est public</li>
        <li>Actions</li>
        </ul>
        </a>
      {% for circuit in circuits %}
      <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">
        <ul class="circuit_ul">
          <li>{{ circuit.name }}</li>
          <li>{{ circuit.description }}</li>
          <li>
            {% if circuit.is_public == 1 %}
              Vrai
            {% else %}
              Faux
            {% endif %}
          </li>
          <li>
            <button type="button" class="btn-primary" onclick="getCircuits_update({{ circuit.id|e }})"><i class="fas fa-edit"></i></button>
            <button type="button" class="btn-primary" onclick="getCircuitTrips({{ circuit.id|e }})"><i class="fas fa-calendar-alt"></i></button>
            <button type="button" class="btn-primary" onclick="supprimerCircuit({{ circuit.id|e }})"><i class="fas fa-trash"></i></button>
            <button type="button" class="btn-primary" onclick="getCircuitEtapes({{ circuit.id|e }})"><i class="fas fa-calendar"></i></button>
          </li>
        </ul>
        </a>
      {% else %}
        <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">
          <ul class="circuit_ul">
            <li>N/A</li>
            <li>N/A</li>
            <li>N/A</li>
            <li>
              <button type="button" class="btn-primary" disabled><i class="fas fa-edit"></i></button>
              <button type="button" class="btn-primary" disabled><i class="fas fa-trash"></i></button>
            </li>
          </ul>
        </a>
      {% endfor %}
    </div>
  </div>
</div>
<div id="modalContenuCircuit"></div>
