<h1>{% trans %}Step.Management{% endtrans %}</h1>
<div class="choix_circuit">
  <p class="mr-auto">{% trans %}Step.Modify.Choice{% endtrans %}</p>
  <div class="bouton_creer" onClick="getSteps_create({{ circuit_id }})">
    <p>{% trans %}Step.New.Create{% endtrans %}</p>
    <i class="fas fa-plus-circle icone_ajout"></i>
  </div>
</div>

<div class="column my-2">
  <div class="col-10">
    <div class="list-group list-group-flush" id="list-tab" role="tablist">
      <a class="list-group-item disabled">
        <ul class="circuit_ul">
          <li>{% trans %}Position{% endtrans %}</li>
          <li>{% trans %}Description{% endtrans %}</li>
          <li>{% trans %}Actions{% endtrans %}</li>
        </ul>
      </a>
      {% for etape in steps %}
        <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">
          <ul class="circuit_ul">
            <li>{{ etape.position }}</li>
            <li>{{ etape.description|e }}</li>
            <li>
              <button type="button" class="btn-primary" onclick="getSteps_update({{ etape.id }})"><i class="fas fa-edit"></i></button>
              <button type="button" class="btn-primary" onclick="supprimerStep({{ etape.id }}, {{ circuit_id }})"><i class="fas fa-trash"></i></button>
              <button type="button" class="btn-primary" onclick="getStepActivities({{ etape.id }})"><i class="fas fa-calendar"></i></button>
            </li>
          </ul>
        </a>
      {% else %}
        <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">
          <ul class="circuit_ul">
            <li>N/A</li>
            <li>N/A</li>
            <li>
              <button type="button" class="btn-primary" disabled><i class="fas fa-edit"></i></button>
              <button type="button" class="btn-primary" disabled><i class="fas fa-trash"></i></button>
              <button type="button" class="btn-primary" disabled><i class="fas fa-calendar"></i></button>
            </li>
          </ul>
        </a>
      {% endfor %}
    </div>
  </div>
</div>
<div id="modalContenuEtape"></div>
<button type="button" class="btn btn-dark" onclick="getCircuits()">{% trans %}Step.ReturnC{% endtrans %}</button>
