<h2>{{ 'File.Management'|trans }}</h2>

{% include 'Admin/media_add.html.twig' %}

<div class="accommodation-grid__controls">
  <a id="media-new-btn" href="#" data-toggle="modal" data-target="#media-add-modal">
    <span>{{ 'Media.File.Add'|trans }}</span>
    <i class="fas fa-plus-circle icone_ajout" aria-hidden="true"></i>
  </a>
</div>

<div class="accommodation-grid">
  <div class="accommodation-grid__header">
    <div class="accommodation-grid__header__elem">{{ 'Name'|trans }}</div>
    <div class="accommodation-grid__header__elem">ID</div>
    <div class="accommodation-grid__header__elem">{{ 'Description'|trans }}</div>
    <div class="accommodation-grid__header__elem">{{ 'Type'|trans }}</div>
    <div class="accommodation-grid__header__elem">{{ 'Path'|trans }}</div>
  </div>
  {% for media in medias %}
  <div class="accommodation-grid__body">
    <div class="accommodation-grid__body__row">
      <div class="accommodation-grid__body__row__elem">{{ media.name }}</div>
      <div class="accommodation-grid__body__row__elem">{{ media.id }}</div>
      <div class="accommodation-grid__body__row__elem">{{ media.description }}</div>
      <div class="accommodation-grid__body__row__elem">{{ media.media_type }}</div>
      <div class="accommodation-grid__body__row__elem">{{ media.path }}</div>
    </div>
  </div>
  {% endfor %}
</div>
<button type="button" class="btn btn-dark" onclick="getIndexAdmin()">Retour à l'accueil</button>
