<h3>{{ 'Circuit.Organisation.Label'|trans }}</h3>

<form>
  <div class="form-group">
    <label for="date_depart">{{ 'Circuit.Date.Official.Departure'|trans }} :</label>
    <input class="datepicker" id="date_depart" width="256px"/>
    <label for="date_fin">{{ 'Circuit.Date.Official.End'|trans }} :</label>
    <input class="datepicker" id="date_fin" width="256px"/>
  </div>
  <div class="form-group">
    <label for="prix_circuit">{{ 'Circuit.Price'|trans }} :</label>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">$</span>
      </div>
      <input type="text" class="form-control" id="prix_circuit"
             aria-label="Amount (to the nearest dollar)">
      <div class="input-group-append">
        <span class="input-group-text">.00</span>
      </div>
    </div>
    <label for="date_remboursement">{{ 'Refund.Date.Limit.Cancel'|trans }} : </label>
    <input class="datepicker" id="date_remboursement" width="256px"/>
    <label for="date_cancellation">{{ 'Refund.Date.Limit.Fees'|trans }} :</label>
    <input class="datepicker" id="date_cancellation" width="256px"/>
    <label for="prix_annulation">{{ 'Refund.Fees'|trans }} :</label>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">$</span>
      </div>
      <input type="text" class="form-control" id="prix_annulation"
             aria-label="Amount (to the nearest dollar)">
      <div class="input-group-append">
        <span class="input-group-text">.00</span>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="nb_places">{{ 'Circuit.Disponibility.Places'|trans }}
      :</label>
    <input type="number" id="nb_places" width="256px"/>
    <label for="quorum">{{ 'Circuit.Organisation.Min.Places'|trans }}
      :</label>
    <input type="number" id="quorum" width="256px"/>
    {# // multiple selectpicker for circuit guides #}
    <div>
      <label for="guide">Guide(s) : </label>
      <select id="guide" class="selectpicker" title="Aucun guide" multiple>
        <option>Georges Baboune</option>
        <option>Harrison Légende</option>
        <option>Cookie Nancy</option>
      </select>
    </div>


  </div>
  <div class="form-group">
    <h4>{{ 'Payment.Plan.Label'|trans }}</h4>
    <label for="paiement_plan">{{ 'Payment.Plan.Name'|trans }} :</label>
    <input type="text" class="form-control" id="paiement_plan"
           placeholder="Ex.: Plan Mensuel 1">
    <label for="prix_plan">{{ 'Payment.Amount'|trans }} :</label>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">$</span>
      </div>
      <input type="text" class="form-control" id="prix_plan"
             aria-label="Amount (to the nearest dollar)">
      <div class="input-group-append">
        <span class="input-group-text">.00</span>
      </div>
    </div>
    <label for="date_paiement">{{ 'Payment.Limit.Date'|trans }} :</label>
    <input class="datepicker" id="date_paiement" width="256px"/>
  </div>
  <div class="button_panel">
    <button type="button" class="btn btn-dark mr-auto" onClick="getCircuits()">
      {{ 'Circuit.Return.List'|trans }}
    </button>
    <button type="button" class="btn btn-secondary">{{ 'Circuit.Return.Creation'|trans }}
    </button>
    <button type="button" class="btn btn-success">{{ 'Circuit.Start'|trans }} !
    </button>
  </div>
</form>
