<h1>{% trans %}Payment.Plan.Management{% endtrans %} - {{ payment_plan.name }} </h1>
<div class="choix_circuit">
  <p class="mr-auto">{% trans %}Payment.Departure.Action{% endtrans %} - {{ circuit.name }}</p>
  <div class="bouton_creer" onClick="getPaymentAdd()">
    <p>{% trans %}Payment.Add{% endtrans %}</p>
    <i class="fas fa-plus-circle icone_ajout"></i>
  </div>
</div>
<div class="column my-2">
  <div class="col-10">
    <div class="list-group list-group-flush" id="list-tab" role="tablist">
      <a class="list-group-item disabled">
        <ul class="circuit_ul">
          <li>{% trans %}Payment.Ammount{% endtrans %}</li>
          <li>{% trans %}Payment.Date.Label{% endtrans %}</li>
          <li>{% trans %}Actions{% endtrans %}</li>
        </ul>
      </a>
      {% for payment in payments %}
        <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">
          <ul class="circuit_ul">
            <li>{{ payment.amount_due }}</li>
            <li>{{ payment.date_due }}</li>
            <li>
              <button type="button" class="btn-primary" onclick="supprimerPayment({{ payment.id }}, {{ payment_plan.id }}, {{ circuit_trip.id }})"><i class="fas fa-trash"></i></button>
            </li>
          </ul>
        </a>
      {% else %}
        <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">
          <ul class="circuit_ul">
            <li>N/A</li>
            <li>N/A</li>
            <li>
              <button type="button" class="btn-primary" disabled><i class="fas fa-edit"></i></button>
              <button type="button" class="btn-primary" disabled><i class="fas fa-trash"></i></button>
            </li>
          </ul>
        </a>
      {% endfor %}
    </div>
  </div>
</div>
<div id="modalContenuCircuit"></div>
<button type="button" class="btn btn-dark" onclick="getPaymentPlans({{ circuit_trip.id }})">{% trans %}Payment.ReturnP{% endtrans %}</button>

<!-- Modal Payment -->
<div class="modal fade" id="payment_form_add" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered"
       role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalPayment">
          {% trans %}Payment.Add{% endtrans %}
        </h5>
        <button type="button" class="close" data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="payment_amount">{% trans %}Payment.Amount{% endtrans %} : </label>
            <input type="number" name="payment_amount" id="payment_amount">
          </div>
          <div class="form-group">
            <label for="payment_date">{% trans %}Payment.Date.Due{% endtrans %} : </label>
            <input type="date" name="payment_date" id="payment_date">
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
                data-dismiss="modal">
          {% trans %}Close{% endtrans %}
        </button>
        <button type="button" class="btn btn-primary"
                onclick="ajouterPayment({{ payment_plan.id }}, {{ circuit_trip.id }})">{% trans %}Add{% endtrans %}
        </button>
      </div>
    </div>
  </div>
</div>
