<h2>{{ 'Accommodation.Management'|trans }}</h2>

{% include 'Accommodations/accommodation_add.html.twig' %}

<div class="accommodation-grid__controls">
  <a id="accommodation-new-btn" href="#" data-toggle="modal" data-target="#accommodation-add-modal">
    <span>{{ 'Accommodation.Add'|trans }}</span>
    <i class="fas fa-plus-circle icone_ajout" aria-hidden="true"></i>
  </a>
</div>

<div class="accommodation-grid">
  <div class="accommodation-grid__header">
    <div class="accommodation-grid__header__elem">{{ 'Name'|trans }}</div>
    <div class="accommodation-grid__header__elem">{{ 'Type'|trans }}</div>
    <div class="accommodation-grid__header__elem">{{ 'Link'|trans }}</div>
    <div class="accommodation-grid__header__elem">{{ 'Rating'|trans }}</div>
  </div>
  <div class="accommodation-grid__body">
    {% for accommodation in accommodations %}
    <div class="accommodation-grid__body__row">
      <div class="accommodation-grid__body__row__elem">{{ accommodation.name }}</div>
      <div class="accommodation-grid__body__row__elem">{{ accommodation.accommodation_type }}</div>
      <div class="accommodation-grid__body__row__elem">
        <a href="{{ accommodation.link }}">{{ 'link'|trans }}</a>
      </div>
      <div class="accommodation-grid__body__row__elem">{{ accommodation.rating }}/5</div>
    </div>
    {% else %}
      <div class="accommodation-grid__body__row">
        <div class="accommodation-grid__body__row__elem">N/A</div>
        <div class="accommodation-grid__body__row__elem">N/A</div>
        <div class="accommodation-grid__body__row__elem">
          N/A
        </div>
        <div class="accommodation-grid__body__row__elem">N/A</div>
      </div>
    {% endfor %}
  </div>
</div>
