{% extends "base.html.twig" %}

{% block title %}Home {{ parent() }}{% endblock %}

{% block body %}
  <div class="banner">
    <div class="banner__text">
      Traveling has never been <span style="font-style: italic;">this</span> easy.
    </div>
  </div>

  <h2 class="content-header">Tous nos circuits</h2>
  <div id="circuits" class="content">
    {% for circuit in circuits %}
    <div class="card">
      {% if circuit.promotion_id is not null %}
      <div class="ribbon ribbon--green">
        <div class="ribbon__bottom"></div>
        <div class="ribbon__center">
          <div>En promotion!</div>
        </div>
      </div>
      {% endif %}
      <img src="{{ circuit.media_path }}" class="card-img-top" alt="{{ circuit.media_description }}">
      <div class="card-body">
        <h5 class="card-title">{{circuit.name }}</h5>
        <p class="card-text">
          {{ circuit.description }}
        </p>
        <a href="#" class="btn btn-primary">Explorer</a>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}
