<div>
  <button type="button" class=" my-2 float-sm-right btn btn-primary" onclick="ajouterPromotion()">{% trans %}Promotion.Add.Label{% endtrans %}</button>
</div>
<div>
  <table class="table">
    <caption>{% trans %}Promotion.Label2{% endtrans %}</caption>
    <thead>
      <tr>
        <th scope="col">{% trans %}Promotion.Type{% endtrans %}</th>
        <th scope="col">{% trans %}Promotion.Description{% endtrans %}</th>
        <th scope="col">{% trans %}Promotion.Date.Start{% endtrans %}</th>
        <th scope="col">{% trans %}Promotion.Date.End{% endtrans %}</th>
        <th scope="col">{% trans %}Actions{% endtrans %}</th>
      </tr>
    </thead>
    <tbody>
      {% for promotion in promotions %}
        <tr>
          <td>
            {{ promotion.name }}
          </td>
          <td>
            {{ promotion.description }}
          </td>
          <td>
            {{ promotion.start_date|date('Y-m-d') }}
          </td>
          <td>
            {{ promotion.end_date|date('Y-m-d') }}
          </td>
          <td>
            <button type="button" class="btn btn-info" onclick="listerDetailsPromotion({{ promotion.id }})">
              <i class="fas fa-search-plus"></i>
            </button>
            <button type="button" class="btn btn-secondary" onclick="modifierPromotion({{ promotion.id }})">
              <i class="fas fa-edit"></i>
            </button>
            <button type="button" class="btn btn-secondary" onclick="ajouterApplication({{ promotion.id }})">
              <i class="fas fa-stamp"></i>
            </button>
            <button type="button" class="btn btn-danger" onclick="supprimerPromotion({{ promotion.id }})">
              <i class="fas fa-trash"></i>
            </button>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<button type="button" class="btn btn-dark" onclick="getIndexAdmin()">Retour à l'accueil</button>
<div id="modalCreationPromo"></div>
