<div>
  <button type="button" class=" my-2 float-sm-right btn btn-primary" onclick="ajouterPromotion()">{{ 'Promotion.Add.Label'|trans }}</button>
</div>
<div>
  <table class="table">
    <caption>{{ 'Promotion.Label2'|trans }}</caption>
    <thead>
      <tr>
        <th scope="col">{{ 'Promotion.Type'|trans }}</th>
        <th scope="col">{{ 'Promotion.Description'|trans }}</th>
        <th scope="col">{{ 'Promotion.Date.Start'|trans }}</th>
        <th scope="col">{{ 'Promotion.Date.End'|trans }}</th>
        <th scope="col">{{ 'Actions'|trans }}</th>
      </tr>
    </thead>
    <tbody>
      {% for promotion in promotions %}
        <tr>
          <td>
            {{ promotion.name }}
          </td>
          <td>
            {{ promotion.description }}
          </td>
          <td>
            {{ promotion.start_date|date('Y-m-d') }}
          </td>
          <td>
            {{ promotion.end_date|date('Y-m-d') }}
          </td>
          <td>
            <button type="button" class="btn btn-info" onclick="listerDetailsPromotion({{ promotion.id }})">
              <i class="fas fa-search-plus"></i>
            </button>
            <button type="button" class="btn btn-secondary" onclick="modifierPromotion({{ promotion.id }})">
              <i class="fas fa-edit"></i>
            </button>
            <button type="button" class="btn btn-secondary" onclick="ajouterApplication({{ promotion.id }})">
              <i class="fas fa-stamp"></i>
            </button>
            <button type="button" class="btn btn-danger" onclick="supprimerPromotion({{ promotion.id }})">
              <i class="fas fa-trash"></i>
            </button>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div id="modalCreationPromo"></div>
