{% if informations.google_id is not defined or informations.google_id is null %}
  <h3 class="mt-2 mb-1">{{ 'Members.Modify.Email'|trans }}</h3>
  <form id="formCommunications" class="mt-2 mb-1" onsubmit="return sendCommunications();">
    <div class="form-row">
      <div class="form-group col-md-8">
        <input type="email" required class="form-control" name="inputEmail" id="inputEmail" value="{{ informations.email }}">
        <div class="invalid-feedback" id="feedbackEmail">
        </div>
      </div>
    </div>
    <input type="submit" class="btn btn-primary" value="{{ 'Members.Save'|trans }}">
    <input type="button" class="btn btn-primary" onclick="getCommunications()" value="{{ 'Cancel'|trans }}">
  </form>
{% endif %}
<h3 class="mt-2 mb-1">{{ 'Members.Newsletter.List'|trans }}</h3>
{% for newsletter in newsletters %}
  {% if newsletter.suscribed is defined and newsletter.suscribed is not null %}
    <form class="form-inline" id="formNewsletter{{ newsletter.id }}" onsubmit="return unsuscribe({{ newsletter.id }})">
      <p class="form-control mb-2 mr-sm-2">{{ newsletter.name|e }}</p>
      <button type="submit" class="btn btn-primary mb-2">{{ 'Members.Unsubscribe'|trans }}</button>
    </form>
  {% else %}
    <form class="form-inline" id="formNewsletter{{ newsletter.id }}" onsubmit="return suscribe({{ newsletter.id }})">
      <p class="form-control mb-2 mr-sm-2">{{ newsletter.name }}</p>
      <button type="submit" class="btn btn-primary mb-2">{{ 'Members.Subscribe'|trans }}</button>
    </form>
  {% endif %}
{% endfor %}
