{% if allHistory == false %}
  <h3 class="mt-2 mb-1">{{ 'Payment.Todo'|trans }}</h3>
{% else %}
  <h3 class="mt-2 mb-1">{{ 'Payment.History'|trans }}</h3>
{% endif %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">
        {{ 'Payment.Trip.Name'|trans }}
      </th>
      <th scope="col">
        {{ 'Payment.Ammount'|trans }}
      </th>
      <th scope="col">
        {{ 'Payment.Date.Limit'|trans }}
      </th>
      {% if allHistory == true %}
        <th scope="col">
          {{ 'Payment.Transaction'|trans }}
        </th>
      {% else %}
        <th scope="col">
          {{ 'Payment.Options'|trans }}
        </th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
  {% for payment in payments %}
    <tr>
      <td scope="row">
        {{ payment.name|e }}
      </td>
      <td scope="row">
        {{ payment.amount_due }}
      </td>
      <td scope="row">
        {{ payment.date_due|date('Y-m-d') }}
      </td>
      {% if allHistory == false %}
      <td scope="row">
        <div id="paypal-payment-{{payment.tp_id}}" class="paypal-button" data-id="{{payment.tp_id}}">
        </div>
      </td>
      {% else %}
      <td>
        {{ payment.transaction_id }}
      </td>
      {% endif %}
    </tr>
  {% else %}
    <tr>
      <td scope="row" colspan="2">
        {{ 'Payment.None'|trans }}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
