{% if allHistory == false %}
  <h3 class="mt-2 mb-1">{{ 'Trips.Incoming'|trans }}</h3>
{% else %}
  <h3 class="mt-2 mb-1">{{ 'Trips.History'|trans }}</h3>
{% endif %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">
        {{ 'Trips.Name'|trans }}
      </th>
      <th scope="col">
        {{ 'Trips.Date.Departure'|trans }}
      </th>
    </tr>
  </thead>
  <tbody>
    {% for trip in trips %}
      <tr>
        <td scope="row">
          {{ trip.name|e }}
        </td>
        <td scope="row">
          {{ trip.departure_date|date('Y-m-d') }}
        </td>
      </tr>
    {% else %}
      <tr>
        <td colspan="2">
          {{ 'Trips.None'|trans }}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
